*.xcbkptlist
DireFloof/GoogleService-Info.plist
/DireFloof/GoogleService-Info.plist
*.xcuserstate
/DireFloof.xcworkspace/xcuserdata/Jack.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
/DireFloof.xcworkspace/xcuserdata/Jack.xcuserdatad/UserInterfaceState.xcuserstate
