*.xcbkptlist
DireFloof/GoogleService-Info.plist
/DireFloof/GoogleService-Info.plist
*.xcuserstate
/DireFloof.xcworkspace/xcuserdata/*.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
/DireFloof.xcworkspace/xcuserdata/*.xcuserdatad/UserInterfaceState.xcuserstate
/Pods/Pods.xcodeproj/xcuserdata/*.xcuserdatad/xcschemes/xcschememanagement.plist
/DireFloof.xcodeproj/xcuserdata/*.xcuserdatad/xcschemes/xcschememanagement.plist
/Pods